* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.header {
  height: 100vh;
  background-color: #f8f9fc;
}

.container {
  width: 90%;
  margin: auto;
  height: 100%;
}

.header-text {
  float: left;
  margin-top: 320px;
  margin-left: 200px;
  width: 40%;
}

.header-img img {
  float: right;
  width: 650px;
  margin-top: 150px;
  margin-right: 160px;
  display: inline-block;
}

.header .header-text h1 {
  font-size: 50px;
  display: inline-block;
}

#title-text {
  color: #ec4c7a;
  font-size: 80px;
  line-height: 1.2;
  display: inline-block;
}

.header .header-text p {
  font-size: 18px;
  color: #767676;
  width: 100%;
  margin: 40px 0;
  display: inline-block;
}

.link-btn {
  background-image: linear-gradient(45deg, #ec4f91, #ec4b74);
  padding: 20px 40px;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  outline: none;
  width: 180px;
}

.main {
  height: 100vh;
}

.main-text {
  float: right;
  width: 40%;
  margin-top: 250px;
  margin-right: 50px;
  font-size: 30px;
}

.main-text p {
  font-size: 18px;
  color: #767676;
  width: 100%;
  margin: 40px 0;
  display: inline-block;
}

.main-img img {
  float: left;
  margin-top: 180px;
  margin-left: 150px;
  width: 600px;
}

.btn {
  width: 250px;
}

.showcase {
  height: 100vh;
  background-color: #f8f9fc;
}

.showcase .showcase-text {
  width: 100%;
  text-align: center;
  display: inline-block;
  margin-top: 100px;
  font-size: 30px;
}

.color-text {
  color: #ec4b74;
}

.img-container {
  width: 100%;
  margin-top: 150px;
  text-align: center;
}

.img-container img {
  width: 345px;
  margin: 15px 15px;
}

.img-container .card {
  width: 370px;
  height: 380px;
  background-color: #fff;
  display: inline-block;
  border-radius: 20px;
  box-shadow: 1px 3px 15px rgba(0, 0, 0, 0.1);
  margin: 0 12px;
  text-align: left;
}

.img-container .card h3,
.img-container .card p {
  padding: 5px 15px;
}

.img-container p {
  color: #767676;
  font-size: 15px;
}

.skills {
  height: 50vh;
}

.skills .skills-text {
  width: 100%;
  text-align: center;
  display: inline-block;
  margin-top: 80px;
  font-size: 30px;
}

.skills-container {
  width: 100%;
  margin-top: 100px;
  text-align: center;
}

.skills-container img {
  width: 100px;
  margin: 15px 15px;
}

.skills-container .skills-card {
  width: 170px;
  height: 180px;
  background-color: #fff;
  display: inline-block;
  border-radius: 20px;
  box-shadow: 1px 3px 15px rgba(0, 0, 0, 0.1);
  margin: 0 12px;
  text-align: center;
}

.skills-container .skills-card h3 {
  font-size: 20px;
  color: #585858;
}

.footer {
  height: 100vh;
  text-align: center;
  background-color: #f8f9fc;
}

.footer-img {
  background-image: url(shapes/Group_33094_1.png);
  width: 906px;
  height: 225px;
  background-size: cover;
  margin: 190px auto;
  display: inline-block;
}

.footer .footer-img h1 {
  color: #fff;
  display: inline-block;
  margin-top: 70px;
  float: left;
  font-size: 55px;
  margin-left: 50px;
}

.footer .footer-img a {
  color: #fff;
  background-image: linear-gradient(90deg, #ec4f91, #ec4b74);
  margin-top: 90px;
  float: right;
  font-size: 15px;
  margin-right: 50px;
  text-decoration: none;
  padding: 15px 30px;
  border-radius: 5px;
}
